body {
  background-image: url("./imgs/spaceBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior: none;
  height: 100vh;
  margin: 0;
}

.calculatorcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#calculatorbody {
  height: auto;
  width: auto;
  border: 2px solid black;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  border-radius: 1px;
  padding: 20px;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.625);
}

#calculatorscreen {
  width: auto;
  height: 30px;
  flex-shrink: 0;
  border: 2px solid grey;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(78, 78, 78);
  border-radius: 1px;
}

#calculatorScreenText {
  color: aqua;
  padding-right: 15px;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.numberButton {
  font-size: 13px;
  height: 100px;
  width: 100px;
}

.operatorButton {
  width: auto;
  height: auto;
  flex-grow: 1;
}

.theRest {
  width: auto;
  height: auto;
  flex-grow: 1;
}
